@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    background-color: antiquewhite;
    font-size: 1.3rem;
    font-family: 'VT323', monospace;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

a {
    text-decoration: none;
    color: brown;
    font-weight: 700;
}

button {
   border: none;
   border-radius: 5px;
   margin-top: 1rem;
   padding:.5rem 1rem;
   background-color: black;
   color: antiquewhite;
   display: inline-block;
   cursor: pointer;
   transform: all .7s ease;
}

hr {
    background-color: black;
    height: 4px;
}

.title {
    background-color: black;
    color: antiquewhite;
    padding: 1rem;
    text-align: center;
}

.container {
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
    padding: 2rem 0 0;
}

/* ==== GAME DISPLAY ==== */
.gameDisplay {
    /* outline: green 3px solid; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem 0;
}

.gameDisplay div {
    border: 2px solid black;
    border-radius: 5px;
    padding: .7rem;
}

/* ==== OPTIONS === */
.options {
    padding-bottom: 1rem;
    text-align: center;
}
/* ==== OUTPUT DISPLAY ==== */
.outputDisplay {
    border-radius: 10px;
    min-height: 12vh;
    max-width: 500px;
    width: 100%;
    margin: 1rem auto;
    text-align: center;
}

/* === DETAILS === */
details {
    min-height: 10rem;
}


details p {
    color: antiquewhite;
    border-bottom-left-radius:  10px;
    border-bottom-right-radius:  10px;
}

summary {
    font-weight: 900;
    color: #a52a2a;
    border-top-left-radius:  10px;
    border-top-right-radius:  10px;
    
}

summary, details p {
    background-color: black;
    padding: .5rem 1rem;
    
}

/* ==== CREDITS ==== */
.credits {
    background-color: black;
    color: antiquewhite;
    padding: 1rem 0;
    text-align: center;
}
/* ==== MODAL ==== */
.modal {
    position: relative;
    top: -50%;
    right:0;
    background-color: black;
    color: antiquewhite;
    border-radius: 10px;
    min-height: 20vh;
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    z-index: 1000;
    box-shadow: 0 0 0.5rem antiquewhite;
}

.modal button {
    background-color: antiquewhite;
    color: black;
    font-weight: 800;
    box-shadow: 0 0 0.5rem antiquewhite;
}

.modal button:hover {
    scale: (-1.1);
    box-shadow: 0 0 0.2rem antiquewhite;
}
/* ==== overlay ==== */
.overlay {
    background: rgba(0, 0, 0, 0.811);
    position: absolute;
    display: block;
    width: 100%;
    min-height: 100vh;
    z-index: 999;
}

.display {
    display: none;
}