/* < !-- Google fonts --> */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;500&display=swap');

/* --- Root --- */
:root {
    --primary-color: #fed7aa;
    --secondary-color: #414141;

    --alt-color: #b91c1c;
    --alt-color2: #0d9488;

    line-height: 1.6em - .5rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 10px;
}

body {
    background-color: var(--secondary-color);
    font-family: 'VT323', monospace;
    color: var(--primary-color);
    position: relative;
}

h1,
h2 {
    font-size: 4.5rem;
    color: var(--primary-color);
}

p {
    font-size: 1.6rem;
    font-family: 'Source Code Pro', monospace;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: var(--alt-color2);
    font-weight: 700;
}

header {
    text-align: center;
    padding: 2rem 0;
    min-height: 10vh;
    background-color: black;
}

/* -- utils classes -- */
.hidden {
    display: none;
}

.modal-hidden {
    display: none;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(65, 65, 65, .9);
    width: 100%;
    height: 100vh;
    z-index: 9;
}

.modal {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    text-align: center;
    width: 100%;
    max-width: 50rem;
    min-height: 50vh;
    padding: 2rem;

    background-color: var(--secondary-color);
    border-radius: 1rem;
    border: 2px solid var(--alt-color2);
    box-shadow: 0px 0px 5px 3px var(--alt-color2);

    z-index: 2000;
}

.modal p,
.modal button {
    font-size: 2em;
}

.btn {
    border: 0;
    outline: 0;
    border-radius: 5px;

    margin-top: 1rem;
    padding: .5rem 1rem;

    background-color: black;
    color: antiquewhite;
    font-size: 1.5em;
    font-family: 'VT323',
        monospace;
    ;

    display: block;
    cursor: pointer;
    transform: all .10s ease;
}

.btn:active {
    transform: scale(0.8);
}

.container {
    /* outline: 2px solid yellow; */
    width: 100%;
    max-width: 768px;
    min-height: 80vh;
    margin: 3rem auto 0;
}

/* -- description --- */
.description {
    /* outline: 3px solid brown; */
    text-align: center;
    padding: 1rem 0;
    max-width: 50ch;
    margin: 0 auto;
}

/* --- help section --- */
.help {
    position: relative;
    padding: 1rem 0;
    /* outline: 3px solid brown; */
}

.help-btn {
    margin: 0 auto 1rem;
}

/* == help modal == */
.help-modal {
    position: fixed;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 35%;

    text-align: center;
    width: 90%;
    max-width: 50rem;
    padding: 2rem;

    background-color: var(--alt-color2);
    border-radius: 1rem;

    z-index: 2000;
}

.help-modal p {
    color: var(--secondary-color);
    font-size: 1.2rem;
    max-width: 40ch;
    margin: 0 auto;
}

.help-modal a {
    color: var(--primary-color);
}

.help-modal .btn {
    background-color: var(--alt-color);

    margin: 2rem auto 0;
    font-size: 1.5em;
}

/* -- game display section -- */
.game {
    position: relative;
    margin-top: 3rem;
}

.players {
    /* outline: 3px solid brown; */
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

.player,
.computer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player h1,
.computer h1 {
    font-size: 3rem;
}

.player p,
.computer p {
    font-size: 3rem;
}

.options {
    margin-top: 4rem;
}

.options p {
    text-align: center;
    font-size: 2rem;
}

.options div {
    display: flex;
    justify-content: center;
    gap: 5rem;

    margin-top: 3rem;
}

.moves span {
    border: 1px solid var(--alt-color2);
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0px 0px 5px 3px var(--alt-color2);

    font-size: 3rem;

    transition: all .10s ease;

    user-select: none;
}

.moves span:active {
    background-color: var(--alt-color2);
    transform: scale(0.8);
}

.rounds {
    margin-top: 2rem;
    min-height: 5rem;
}

.rounds p {
    text-align: center;
}

/* footer */
footer {
    text-align: center;
}

/* media queries */
@media (min-width: 1280px) {
    .container {
        /* outline: 2px solid goldenrod; */
        width: 90%;
        max-width: 1280px;
    }

    .description {
        font-size: 1.8rem;
    }

    .help-modal p,
    .help-modal .close-btn {
        font-size: 1.8rem;
    }

    .player h1,
    .computer h1 {
        font-size: 3.5rem;
    }

    .player p,
    .computer p {
        font-size: 3.5rem;
    }
}